<html>
    <body>

        {{#name}} Hello, {{.}}!
        <br/>
        <br/>
        <form action="/add-message" method="post">
            <input type="text" placeholder="Write a message" name="userMessage">
            <button type="submit">Submit</button>
        </form>

        {{#name}}
        <h1>Messages from {{.}}:</h1>
        {{/name}}

        <p>
            <ol>
                {{#messages}}
                <li>{{text}}
                    <form action="/delete-message" method="post">
                        <input type="hidden" value="{{id}}" name="id"/>
                        <button type="submit">Delete</button>
                    </form><br></li>
                {{/messages}}
            </ol>
        </p>
        {{/name}}

        {{^name}}
        <form action="/login" method="post">
            <input type="text" placeholder="Enter your name" name="userName"/>
            <button type="submit">Login</button>
        </form>
        {{/name}}

    </body>
</html>